#CCT College Dublin 
 
##Assessment Cover Page
 
|---|---|
|Programme Title:| BSc(Hons)CompIT Year 4 |
|Module Title:| Machine Learning for AI |
|Assessment Title:| ML_CA1 |
|Lecturer Name:| David McQuaid |
|Student Full Name:| Amanda Lima Leite | 
|Student Number:| 2020304 |
|Assessment Due Date:| 22/04/2024 |
|Date of Submission:| 22/04/2024 |

Declaration  
 
By submitting this assessment, I confirm that I have read the CCT policy on Academic Misconduct and understand the implications of submitting work that is not my own or does not appropriately reference material taken from a third party or other source. I declare it to be my own work and that all material from third parties has been appropriately referenced. I further confirm that this work has not previously been submitted for assessment by myself or someone else in CCT College Dublin or any other higher education institution.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("log2.csv")

In [3]:
df.head()

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received,Action
0,57222,53,54587,53,177,94,83,2,30,1,1,allow
1,56258,3389,56258,3389,4768,1600,3168,19,17,10,9,allow
2,6881,50321,43265,50321,238,118,120,2,1199,1,1,allow
3,50553,3389,50553,3389,3327,1438,1889,15,17,8,7,allow
4,50002,443,45848,443,25358,6778,18580,31,16,13,18,allow

In [4]:
df.shape

(65532, 12)

In [5]:
df.dtypes

Source Port              int64
Destination Port         int64
NAT Source Port          int64
NAT Destination Port     int64
Bytes                    int64
Bytes Sent               int64
Bytes Received           int64
Packets                  int64
Elapsed Time (sec)       int64
pkts_sent                int64
pkts_received            int64
Action                  object
dtype: object

In [6]:
df.describe

<bound method NDFrame.describe of        Source Port  Destination Port  NAT Source Port  NAT Destination Port  \
0            57222                53            54587                    53
1            56258              3389            56258                  3389
2             6881             50321            43265                 50321
3            50553              3389            50553                  3389
4            50002               443            45848                   443
...            ...               ...              ...                   ...
65527        63691                80            13237                    80
65528        50964                80            13485                    80
65529        54871               445                0                     0
65530        54870               445                0                     0
65531        54867               445                0                     0

         Bytes  Bytes Sent  Bytes Received  Packets  Elapsed Time (sec)  \
0          177          94              83        2                  30
1         4768        1600            3168       19                  17
2          238         118             120        2                1199
3         3327        1438            1889       15                  17
4        25358        6778           18580       31                  16
...        ...         ...             ...      ...                 ...
65527      314         192             122        6                  15
65528  4680740       67312         4613428     4675                  77
65529       70          70               0        1                   0
65530       70          70               0        1                   0
65531       70          70               0        1                   0

       pkts_sent  pkts_received Action
0              1              1  allow
1             10              9  allow
2              1              1  allow
3              8              7  allow
4             13             18  allow
...          ...            ...    ...
65527          4              2  allow
65528        985           3690  allow
65529          1              0   drop
65530          1              0   drop
65531          1              0   drop

[65532 rows x 12 columns]>

In [7]:
df.isnull().sum()

Source Port             0
Destination Port        0
NAT Source Port         0
NAT Destination Port    0
Bytes                   0
Bytes Sent              0
Bytes Received          0
Packets                 0
Elapsed Time (sec)      0
pkts_sent               0
pkts_received           0
Action                  0
dtype: int64

In [8]:
df.value_counts()

Source Port  Destination Port  NAT Source Port  NAT Destination Port  Bytes  Bytes Sent  Bytes Received  Packets  Elapsed Time (sec)  pkts_sent  pkts_received  Action
58638        5900              0                0                     62     62          0               1        0                   1          0              deny      789
45941        23386             0                0                     60     60          0               1        0                   1          0              deny       53
48706        23393             0                0                     60     60          0               1        0                   1          0              deny       44
0            0                 0                0                     98     98          0               1        0                   1          0              deny       39
19875        30170             0                0                     145    145         0               1        0                   1          0              deny       31
                                                                                                                                                                         ...
50768        445               0                0                     70     70          0               1        0                   1          0              drop        1
50769        443               26960            443                   6882   1377        5505            19       151                 9          10             allow       1
             445               0                0                     70     70          0               1        0                   1          0              drop        1
50770        443               41782            443                   6350   1369        4981            18       151                 9          9              allow       1
65534        53                65534            53                    414    268         146             3        31                  2          1              allow       1
Length: 57170, dtype: int64